*{
    margin:0;
    padding:0;
}
body{
    background-color: #548687;
    text-align: center;
    
}
.container{
    height: 70vh;
     display: flex;
    justify-content: center;
    align-items: center;
}
.Game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0.1);
    font-size: 8vmin; 
    color: rgb(0, 0, 0);
    background-color: #ffff;
}
#resetBtn{
    padding: 1rem;
    font-size: 1.5rem;
    color: aliceblue;
    background-color:rgba(3, 9, 12, 0.76);
    border-radius: 1rem;
    border: none;
}
#newGameBtn{
    padding: 1rem;
    font-size: 1.5rem;
    color: aliceblue;
    background-color:rgba(3, 9, 12, 0.76);
    border-radius: 1rem;
    border: none;
}
#msg{
    color: rgb(228, 234, 239);
    font-size: 5vmin;
}
.msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display: none;
}